/* Some Variables */
:root {
  --main-color: #ffb43a;
  --hover-color: hsl(37, 94%, 57%);
  --body-color: #1e1e2a;
  --container-color: #2d2e37;
  --text-color: #fcfeff;
}
/* Video Container */
.video-container {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 1068px;
  height: 540px;
  background: hsl(234 10% 20% / 60%);
  z-index: 400;
}
.video-container.show-video {
  display: flex;
}
.video-box {
  position: relative;
  width: 1068px;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-box #myvideo {
  position: relative;
  width: 500px;
  height: 280px;
  aspect-ratio: 16/9;
  padding: 10px;
}
.close-video {
  position: absolute;
  top: 36px;
  right: -20px;
  font-size: 40px;
  color: var(--main-color);
}
/* About Movie */
.about-movie {
  margin-top: 2rem !important;
}
.about-movie h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--main-color);
}
.about-movie p {
  max-width: 600px;
  font-size: 0.938rem;
  margin: 10px 0;
}
/* Cast */
.cast-heading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--main-color);
}
.cast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
  gap: 1rem;
}
.cast-img {
  width: 150px;
  height: 180px;
  object-fit: cover;
  object-position: center;
}
/* Download */
.download {
  margin: auto;
  display: grid;
  justify-content: center;
  margin: 2rem;
}
.download-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1.6rem 0;
  color: var(--main-color);
}
.download-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 2rem;
}
.download-links a {
  text-align: center;
  background: var(--main-color);
  padding: 12px 24px;
  color: var(--body-color);
  letter-spacing: 1px;
  font-weight: 500px;
}
.download-links a:hover {
  background: var(--hover-color);
}
@media (max-width: 1170px) {
  .close-video {
    right: -20px;
  }
}
@media (max-width: 1060px) {
  .video-container {
    width: 1000px;
    height: 520px;
  }
  .video-box {
    width: 783px;
    height: 520px;
  }
}
@media (max-width: 991px) {
  .video-container {
    width: 939px;
  }
}
@media (max-width: 888px) {
  .play-container {
    min-height: 440px;
    margin-top: 4rem !important;
  }
  .play-movie {
    bottom: 14rem;
    right: 4rem;
  }
  .video-container {
    width: 865px;
    height: 514px;
  }
  .play-movie {
    bottom: 4rem;
  }
  .video-box {
    width: 94%;
  }
  .close-video {
    top: 53px;
    right: -18px;
  }
  .cast-heading {
    font-size: 1.1rem;
  }
  .cast-title {
    font-size: 0.9rem;
  }
  .cast {
    justify-content: center;
  }
}
/* For Medium Devices / Tablet Etc */
@media (max-width: 768px) {
  .play-movie {
    bottom: 10rem;
    right: 2rem;
  }
  .video-container {
    width: 746px;
    height: 508px;
  }
}
@media (max-width: 420px) {
  .play-container {
    margin-top: 7rem !important;
  }
  .play-movie {
    bottom: 3rem;
    right: 3rem;
  }
  .video-container {
    width: 375px;
    height:415px;
  }
  .video-box {
    height: 395px;
  }
}
/* For Small Devices */
@media (max-width: 370px) {
  .download-links {
    grid-template-columns: 1fr;
  }
  .video-container {
    width: 335px;
    height: 415px;
  }
}